<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="/dino_logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="{{ `/style.css` | absURL }}">
  </head>
  <body>
    <header>
      <a href="{{ "/" | relLangURL }}">
        <h2 class="title">{{ .Site.Title }}</h2></a
      >
      <span class="yap">
        <p>
          <!-- Add here a big description fo the site -->
          Hi and welcome to my personal website :3 <br>
          See contact below and more at the <a href="./me/index.html">About Me</a> post.
        </p>
        Contact: <a href="https://github.com/Cartitza">Github</a> <tab> <a href="https://www.instagram.com/cartitza._">Instagram</a> <tab> <a href="mailto:acarstian@gmail.com">Email</a>
      </span>
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
    </footer>
  </body>
</html>
